<div class="header">
    <img style="padding: 5px; width: 36px; height: 36px;" src="./../assets/images/left-arrow.png">
    <div style="text-align: center;width: 90%;margin-top: 10px;">
      <span style="font-weight: bold; color: white;">MY OFFERS</span>
    </div>
  </div>
  <div class="header1">
    <span class="text">ICICI Bank Rubyx Visa Credit Card</span>
  </div>
  
  <div class="cashback-section">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
      <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="33%" >
          <div style="display: -webkit-box;">
            <mat-card style="height: 49px;background-color: #102252;" class="mat-elevation-z4" >
              <div class="cards">
                <img src="./../assets/images/1.png">
                <span style="margin-left: 10px;color: white;">Rs. 2850</span>
              </div>
              <div style="margin-top: 5px;"><span style="color: white;">Total Cashback Earned</span></div>
            </mat-card>
            <mat-card style="height: 49px;background-color: #102252; margin-left: 10px;" class="mat-elevation-z4" >
              <div class="cards">
                <img src="./../assets/images/1.png">
                <span style="margin-left: 10px;color: white;">Rs. 2850</span>
              </div>
              <div style="margin-top: 5px;"><span style="color: white;">Total Cashback Earned</span></div>
            </mat-card>
          </div>
      </div>
    </div>
  </div>
  
  <div class="offer"><span>Offers on travel</span></div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" >
          <img mat-card-image src="./../assets/images/2.png">
          <mat-card-content>
            <div><span>Discount : upto Rs 10,000</span></div>
            <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p></div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn more</button>
            <button mat-button class="claim-offer">Claim offer</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" >
          <img mat-card-image src="./../assets/images/3.png">
          <mat-card-content>
            <div><span>Discount : upto Rs 10,000</span></div>
            <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p></div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn more</button>
            <button mat-button class="claim-offer">Claim offer</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="offer"><span>Offers on food</span></div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" >
          <img mat-card-image src="./../assets/images/4.png">
          <mat-card-content>
            <div><span>Discount : upto Rs 10,000</span></div>
            <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p></div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn more</button>
            <button mat-button class="claim-offer">Claim offer</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" >
          <img mat-card-image src="./../assets/images/5.png">
          <mat-card-content>
            <div><span>Discount : upto Rs 10,000</span></div>
            <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p></div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn more</button>
            <button mat-button class="claim-offer">Claim offer</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="footer"></div>